/*********** react-transition-group ***********/

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 330ms ease-in;
}

/************** react-slick *****************/
.slick-list {
  -webkit-transition: height 250ms linear;
}
