<h3>パスワード再設定のご案内</h2>

<p>いつもPeANをご利用いただきありがとうございます。</p>

<p>以下のリンクからパスワードの再設定を行ってください。</p>

<p><%= link_to "パスワードを再設定する", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリンクは１度しか使用できません。再度パスワードを変更する場合はやり直してください。</p>
