<h3>パスワード再設定のご案内</h2>

<p>いつもnurse-stepをご利用いただきありがとうございます。</p>

<p>以下のリンクからパスワードの再設定を行ってください。</p>

<p><%= link_to "パスワードを再設定する", "http://localhost:3000/resetpassword?token=#{@token}" %></p>

<p>このリンクは１度しか使用できません。再度パスワードを変更する場合はやり直してください。</p>
